/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */

body{ 
    font-family: 'Roboto Flex', sans-serif;
    font-size: 10px;
    color: white;
    background-color: rgb(21, 143, 143);
}

/* /////////// HEADER //////////////////// */

header{
    background-color: azure;
    height: 60px;
    position: relative;
}


.header-container{
    background-color: beige;
    position: absolute;
    top: 5px;
    right: 5px;
}

.header-text{
    
    background-color: grey;
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 6px;
}


/* /////////// MAIN //////////////////// */

main{
    background-color: blue;
    height: calc(100vh - 140px);
    overflow: auto;

}

.main-container{
    background-color: blueviolet;
    width: 90%;
}






/* /////////// FOOTER //////////////////// */

footer{
    background-color: brown;
    height: 80px;
}













