/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */

body{ 
    height: 100%;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 10px;
    color: white;
    background-color: rgb(21, 143, 143);
}

/* /////////// HEADER //////////////////// */

header{
    height: 50px;
    position: relative;
}


.header-container{
    position: absolute;
    top: 5px;
    right: 5px;
}

.header-text{
    
    background-color: grey;
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 6px;
}


/* /////////// MAIN //////////////////// */

main{
    height: calc(100vh - 110px);
    overflow-y: auto;
}

.main-container{
    width: 95%;
    margin: 0 auto;
    height: 500px;
}

.card-container{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

   .card{
       background-image: url(https://picsum.photos/246/146);
       background-repeat: no-repeat;
       background-size: cover;
       width: 150px;
       height: 100px;
       border: 1px solid red;
       margin-bottom: 10px;
       position: relative;
   }

       .card-text{
           padding: 4px;
           position: absolute;
           bottom: 0px;
           left: 0px;
           background-color: rgba(0, 0, 0, 0.3);
       }




/* /////////// FOOTER //////////////////// */

footer{
    background-color: brown;
    height: 60px;
}

  .footer-symbol{
      height: 35px;
      padding: 7px 0 ;
      background-color: blue;
  }

  .footer-symbol i{
      font-size: 20px;
  }















